front_end/node_modules/
back_end/.idea
back_end/*mvn*
back_end/HELP*
back_end/target/
.vscode/

# IDK what these are... Commented them out for now, fixed the rest
# Default ignored files
# /shelf/
# /workspace.xml
# /dataSources/
# /dataSources.local.xml
# Editor-based HTTP Client requests
# /httpRequests/