.container {
  // border: 1px solid red;
}

.header {
  // border: 1px solid green;
  display: flex;

  &__Button {
    border: none;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.5rem 0;
    flex-grow: 1;
    font-weight: 700;
    color: var(--color-primary);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 2px solid var(--color-primary);

    &:hover {
      cursor: pointer;
      background-color: #faeeee;
    }
  }
}

.active {
  background-color: var(--color-primary);
  color: white;

  &:hover {
    background-color: #7e3504;
  }
}

.optionLine {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2rem 2rem;
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
}

.sortByOption,
.sortByType {
  display: flex;
  gap: 2rem;
  align-items: center;

  select {
    padding: 1rem 0;
    outline-color: var(--color-primary);
    border-color: var(--color-primary);
    border-radius: 2px;
    color: var(--color-primary);
  }
}

table {
  border: 2px solid var(--color-primary);
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 1rem 0;
  }

  th {
    text-transform: uppercase;
  }

  thead tr {
    background-color: var(--color-primary);
    color: white;
  }

  tbody tr {
    &:nth-of-type(even) {
      background-color: #ccc;
    }
    &:nth-of-type(odd) {
      background-color: #fff;
    }

    &:hover {
      background-color: #aaa;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  font-size: 3rem;
  font-weight: 700;
  gap: 1rem;

  #icon {
    &:hover {
      cursor: pointer;
      color: var(--color-primary-light);
    }
  }
}

// .data {
//   padding-bottom: 3rem;
//   margin-bottom: 8rem;
//   border-bottom: 2px solid var(--color-primary);
// }

.searchByName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;

  label {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.ratingLink {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
