.profileGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  &__Image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 70%;
    }
  }

  &__Description {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    line-height: 1.5;
    background-color: #d363183d;
  }
}
